= render 'elements/header'
%p#notice= notice
.add-trbl-margin
  %p
    %b Status kepegawaian:
    = @status_kepegawaian.status_kepegawaian

  = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-pencil" title="Edit status kepegawaian"></i></button>'.html_safe, edit_status_kepegawaian_path(@status_kepegawaian), class: 'center-block'
  .row.align-items-center.justify-content-center
    .row
      = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-arrow-left" title="Kembali ke daftar status kepegawaian"></i></button>'.html_safe, status_kepegawaian_index_path, class: 'center-block'