%li
  = komentar.isi
  -
  %small
    Dibuat #{time_ago_in_words(komentar.created_at)} ago
  = form_for [komentar, Komentar.new] do |f|
    = f.text_area :isi, placeholder: "Tambahkan tanggapan"
    %br
    = f.submit "Tanggapi"
  %ul
    = render partial: 'komentar/komentar', collection: komentar.komentar
