= render 'elements/header'
%h1 Daftar Sifat Surat Masuk

.py-5
  .row
    .col-md-12
      %table.table
        %thead
          %tr
            %th Sifat Surat Masuk
            %th
            %th
            %th
        
        %tbody
          - @sifat_surat_masuk.each do |sifat_surat_masuk|
            %tr
              %td= sifat_surat_masuk.nama
              %td= link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan sifat surat masuk"></i>'.html_safe, sifat_surat_masuk, class: 'btn btn-sm btn-primary mx-1'
              %td= link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit sifat surat masuk"></i>'.html_safe, edit_sifat_surat_masuk_path(sifat_surat_masuk), class: 'btn btn-sm btn-primary mx-1'
              %td= link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus sifat surat masuk"></i>'.html_safe, sifat_surat_masuk, method: :delete, data: { confirm: 'Anda yakin ingin menghapus sifat status surat masuk ini?' }, class: 'btn btn-sm btn-primary mx-1'

.row.align-items-center.justify-content-center
  .row
    = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-arrow-left" title="Kembali ke Dasbor"></i></button>'.html_safe, dasbor_index_path, class: 'center-block'
    = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-plus" title="Buat status surat masuk"></i></button>'.html_safe, new_status_surat_masuk_path, class: 'center-block add-left-margin'


%h1 Listing sifat_surat_masuk

%table
  %thead
    %tr
      %th Nama
      %th
      %th
      %th

  %tbody
    - @sifat_surat_masuk.each do |sifat_surat_masuk|
      %tr
        %td= sifat_surat_masuk.nama
        %td= link_to 'Show', sifat_surat_masuk
        %td= link_to 'Edit', edit_sifat_surat_masuk_path(sifat_surat_masuk)
        %td= link_to 'Destroy', sifat_surat_masuk, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Sifat surat masuk', new_sifat_surat_masuk_path
