= render 'elements/header'
.p-5.text-center.bg-secondary.gradient-overlay
  .card-deck
    .col-md-6
      .card.p-5.m-1
        .card-block
          %h2
            %b Surat Masuk
          %p Anda dapat menemukan detil Surat Masuk disini
          %p
          Jumlah surat masuk:
          = @jumlah_surat_masuk
          %p
        .card-block
          %a.btn.btn-secondary{:href => surat_masuk_index_path} Detil Surat Masuk
    .col-md-6
      .card.p-5.m-1
        .card-block
          %h2
            %b Surat Keluar
          %p Anda dapat menemukan detil Surat Keluar disini
          %p
          Jumlah surat keluar:
          = @jumlah_surat_keluar
          %p
        .card-block
          %a.btn.btn-secondary{:href => surat_keluar_index_path} Detil Surat Keluar
    .col-md-6
      .card.p-5.m-1
        .card-block
          %h2
            %b Pustaka
          %p Anda dapat menemukan detil Rujukan Pembuatan Surat disini
          %p
          Jumlah pustaka: 
          = @jumlah_pustaka
          %p
        .card-block
          %a.btn.btn-secondary{:href => daftar_pustaka_index_path} Detil Pustaka
    .col-md-6
      .card.p-5.m-1
        .card-block
          %h2
            %b Pengguna
          %p Anda dapat menemukan detil Pengguna disini
          %p
          Jumlah pengguna: 
          = @jumlah_pengguna
          %p
        .card-block
          %a.btn.btn-secondary{:href => pengguna_index_path} Detil Pengguna
    .col-md-6
      .card.p-5.m-1
        .card-block
          %h2
            %b Status Kepegawaian
          %p Anda dapat menemukan detil Status Kepegawaian disini
          %p
          Jumlah status kepegawaian: 
          = @jumlah_status_kepegawaian
          %p
        .card-block
          %a.btn.btn-secondary{:href => status_kepegawaian_index_path} Detil Status Kepegawaian
    .col-md-6
      .card.p-5.m-1
        .card-block
          %h2
            %b Jabatan
          %p Anda dapat menemukan detil Jabatan disini
          %p
          Jumlah jabatan: 
          = @jumlah_jabatan
          %p
        .card-block
          %a.btn.btn-secondary{:href => jabatan_index_path} Detil Jabatan
    .col-md-6
      .card.p-5.m-1
        .card-block
          %h2
            %b Seksi
          %p Anda dapat menemukan detil Seksi disini
          %p
          Jumlah jabatan: 
          = @jumlah_seksi
          %p
        .card-block
          %a.btn.btn-secondary{:href => seksi_index_path} Detil Seksi
    .col-md-6
      .card.p-5.m-1
        .card-block
          %h2
            %b Status Akun
          %p Anda dapat menemukan detil Status Akun disini
          %p
          Jumlah status akun: 
          = @jumlah_status_akun
          %p
        .card-block
          %a.btn.btn-secondary{:href => status_akun_index_path} Detil Status Akun