= render 'elements/header'
%h1 Daftar Pustaka

.py-5
  .row
    .col-md-12
      %table.table
        %thead
          %tr
            %th Judul
            %th Keterangan
            %th
            %th
            %th
        
        %tbody
          - @daftar_pustaka.each do |daftar_pustaka|
            %tr
              %td= daftar_pustaka.judul
              %td= daftar_pustaka.keterangan
              %td= link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan pustaka"></i>'.html_safe, daftar_pustaka, class: 'btn btn-sm btn-primary mx-1'
              %td= link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit pustaka"></i>'.html_safe, edit_daftar_pustaka_path(daftar_pustaka), class: 'btn btn-sm btn-primary mx-1'
              %td= link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus pustaka"></i>'.html_safe, daftar_pustaka, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'

.row.align-items-center.justify-content-center
  .row
    = link_to '<button class="btn btn-primary btn-circle btn-xl"><i class="fa fa-lg fa-arrow-left" title="Kembali ke Dasbor"></i></button>'.html_safe, dasbor_index_path, class: 'center-block'
    = link_to '<button class="btn btn-primary btn-circle btn-xl"><i class="fa fa-lg fa-plus" title="Buat surat keluar"></i></button>'.html_safe, new_daftar_pustaka_path, class: 'center-block add-left-margin'