= render 'elements/header'
%p#notice= notice
.add-trbl-margin
  %p
    %b Judul:
    = @daftar_pustaka.judul
  %p
    %b Keterangan:
    = @daftar_pustaka.keterangan
  %p
    %b Lampiran:
    = link_to '<button class="btn btn-primary btn-circle btn-m"><i class="fa fa-lg fa-cloud-download" title="Unduh lampiran"></i></button>'.html_safe, @daftar_pustaka.lampiran.url, class: 'center-block'
  
  %br
  = simple_form_for [@daftar_pustaka, Komentar.new] do |f|
    = f.input :isi, placeholder: "Tambahkan komentar", label: false
    = f.input :lampiran, label: false
    = button_tag(type: 'submit', class: "btn btn-primary") do
      %i.fa.d-inline.fa-lg.fa-comment
      Tambah komentar
    %br
  %ul
    = render(partial: 'komentar/komentar', collection: @daftar_pustaka.komentar)
  
  = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-pencil" title="Edit pustaka"></i></button>'.html_safe, edit_daftar_pustaka_path(@daftar_pustaka), class: 'center-block'
  .row.align-items-center.justify-content-center
    .row
      = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-arrow-left" title="Kembali ke daftar pustaka"></i></button>'.html_safe, daftar_pustaka_index_path, class: 'center-block'