%h1 Listing surat_keluar

%table
  %thead
    %tr
      %th Judul
      %th Keterangan
      %th
      %th
      %th

  %tbody
    - @surat_keluar.each do |surat_keluar|
      %tr
        %td= surat_keluar.judul
        %td= surat_keluar.keterangan
        %td= link_to 'Show', surat_keluar
        %td= link_to 'Edit', edit_surat_keluar_path(surat_keluar)
        %td= link_to 'Destroy', surat_keluar, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Surat keluar', new_surat_keluar_path
