= render 'elements/header'
%h1 Daftar Surat Keluar

.py-5
  .row
    .col-sm-12
      %table.table.table-striped
        %thead
          %tr.row
            %th.col-sm-4 Judul
            %th.col-sm-4 Keterangan
            %th.col-sm-4 Tindakan

        %tbody
          - @surat_keluar.each do |surat_keluar|
            %tr.row
              %td.col-sm-4= surat_keluar.judul
              %td.col-sm-4= surat_keluar.keterangan
              %td.col-sm-1= link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan surat keluar"></i>'.html_safe, surat_keluar, class: 'btn btn-sm btn-primary mx-1'
              %td.col-sm-1= link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit surat keluar"></i>'.html_safe, edit_surat_keluar_path(surat_keluar), class: 'btn btn-sm btn-primary mx-1'
              %td.col-sm-1= link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus surat keluar"></i>'.html_safe, surat_keluar, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'
              %td.col-sm-1= surat_keluar.status_surat

.row.align-items-center.justify-content-center
  .row
    = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-arrow-left" title="Kembali ke Dasbor"></i></button>'.html_safe, dasbor_index_path, class: 'center-block'
    = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-plus" title="Buat surat keluar"></i></button>'.html_safe, new_surat_keluar_path, class: 'center-block add-left-margin'