= render 'elements/header'
%h1 Daftar Surat Keluar
%p
  Pengguna dari seksi:
  = @seksi_pengguna.join
%p
  Jabatan pengguna:
  = @jabatan_pengguna.join
%p surat_keluar_seksi
= @surat_keluar_seksi
- if @jabatan_pengguna.join == "Pelaksana"
  - if @seksi_pengguna.join == "Tata Usaha"
    %h2 Anda sebagai Pelaksana di Tata Usaha
    %h3 Surat Keluar Belum Diajukan untuk Dikoreksi 
    .p-5.text-center
      .card-deck
        - @surat_keluar_tata_usaha_awal.each do |surat_keluar|
          .col-md-4
            .card.p-5.m-1
              .card-block
                %h4
                  %b= surat_keluar.judul
                %p= surat_keluar.keterangan
                %p
              .card-block
                %a
                = link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan surat keluar"></i>'.html_safe, surat_keluar, class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit surat keluar"></i>'.html_safe, edit_surat_keluar_path(surat_keluar), class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus surat keluar"></i>'.html_safe, surat_keluar, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'
    %h2 Koreksi ke-1 dari Kasubag
    .p-5.text-center
      .card-deck
        - @surat_keluar_tata_usaha_koreksi_ktu_1.each do |surat_keluar|
          .col-md-3
            .card.p-4.m-1
              .card-block
                %h5
                  %b= surat_keluar.judul
                %p= surat_keluar.keterangan
                %p
              .card-block
                %a
                = link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan surat keluar"></i>'.html_safe, surat_keluar, class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit surat keluar"></i>'.html_safe, edit_surat_keluar_path(surat_keluar), class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus surat keluar"></i>'.html_safe, surat_keluar, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'
    %h2 Koreksi ke-2 dari Kasubag
    .p-5.text-center
      .card-deck
        - @surat_keluar_tata_usaha_koreksi_ktu_2.each do |surat_keluar|
          .col-md-3
            .card.p-4.m-1
              .card-block
                %h5
                  %b= surat_keluar.judul
                %p= surat_keluar.keterangan
                %p
              .card-block
                %a
                = link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan surat keluar"></i>'.html_safe, surat_keluar, class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit surat keluar"></i>'.html_safe, edit_surat_keluar_path(surat_keluar), class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus surat keluar"></i>'.html_safe, surat_keluar, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'
    %h2 Koreksi ke-1 dari Kepala
    .p-5.text-center
      .card-deck
        - @surat_keluar_tata_usaha_koreksi_kepala_1.each do |surat_keluar|
          .col-md-3
            .card.p-4.m-1
              .card-block
                %h5
                  %b= surat_keluar.judul
                %p= surat_keluar.keterangan
                %p
              .card-block
                %a
                = link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan surat keluar"></i>'.html_safe, surat_keluar, class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit surat keluar"></i>'.html_safe, edit_surat_keluar_path(surat_keluar), class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus surat keluar"></i>'.html_safe, surat_keluar, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'
    %h2 Koreksi ke-2 dari Kepala
    .p-5.text-center
      .card-deck
        - @surat_keluar_tata_usaha_koreksi_kepala_2.each do |surat_keluar|
          .col-md-3
            .card.p-4.m-1
              .card-block
                %h5
                  %b= surat_keluar.judul
                %p= surat_keluar.keterangan
                %p
              .card-block
                %a
                = link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan surat keluar"></i>'.html_safe, surat_keluar, class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit surat keluar"></i>'.html_safe, edit_surat_keluar_path(surat_keluar), class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus surat keluar"></i>'.html_safe, surat_keluar, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'
    %h2 Surat keluar final
    .p-5.text-center
      .card-deck
        - @surat_keluar_tata_usaha_koreksi_final.each do |surat_keluar|
          .col-md-3
            .card.p-4.m-1
              .card-block
                %h5
                  %b= surat_keluar.judul
                %p= surat_keluar.keterangan
                %p
              .card-block
                %a
                = link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan surat keluar"></i>'.html_safe, surat_keluar, class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit surat keluar"></i>'.html_safe, edit_surat_keluar_path(surat_keluar), class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus surat keluar"></i>'.html_safe, surat_keluar, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'
  - elsif @seksi_pengguna.join == "Urusan Agama Katolik"
    Anda sebagai Pelaksana di Urusan Agama Katolik
  - elsif @seksi_pengguna.join == "Urusan Agama Kristen"
    Anda sebagai Pelaksana di Urusan Agama Kristen
  - elsif @seksi_pengguna.join == "Pendidikan Agama Kristen"
    Anda sebagai Pelaksana di Pendidikan Agama Kristen
  - elsif @seksi_pengguna.join == "Pendidikan dan Bimbingan Masyarakat Islam"
    Anda sebagai Pelaksana di Pendidikan dan Bimbingan Masyarakat Islam
  - else
    Anda sebagai Pelaksana di Seksi mana ya?
- elsif @jabatan_pengguna.join == "Penyelenggara"
  - if @seksi_pengguna.join == "Pendidikan Agama Katolik"
    Anda sebagai Penyelenggara di Pendidikan Agama Katolik
  - elsif @seksi_pengguna.join == "Haji dan Umrah"
    Anda sebagai Penyelenggara di Haji dan Umrah
  - else
    Anda sebagai Penyelenggara di Seksi mana ya?
- elsif @jabatan_pengguna.join == "Kepala Seksi"
  - if @seksi_pengguna.join == "Urusan Agama Katolik"
    Anda sebagai Kepala Seksi di Urusan Agama Katolik
  - elsif @seksi_pengguna.join == "Urusan Agama Kristen"
    Anda sebagai Kepala Seksi di Urusan Agama Kristen
  - elsif @seksi_pengguna.join == "Pendidikan Agama Kristen"
    Anda sebagai Kepala Seksi di Pendidikan Agama Kristen
  - elsif @seksi_pengguna.join == "Pendidikan dan Bimbingan Masyarakat Islam"
    Anda sebagai Kepala Seksi di Pendidikan dan Bimbingan Masyarakat Islam
  - else
    Anda sebagai Kepala Seksi di Seksi mana ya?
- elsif @jabatan_pengguna.join == "Kepala Sub Bagian"
  %h2 Surat Keluar Tata Usaha
  %h3 Konsep yang Belum Dikoreksi
  .p-5.text-center
    .card-deck
      - @surat_keluar_tata_usaha_konsep.each do |surat_keluar|
        .col-md-3
          .card.p-4.m-1
            .card-block
              %h5
                %b= surat_keluar.judul
              %p= surat_keluar.keterangan
              %p
            .card-block
              %a
              = link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan surat keluar"></i>'.html_safe, surat_keluar, class: 'btn btn-sm btn-primary mx-1'
              %a
              = link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit surat keluar"></i>'.html_safe, edit_surat_keluar_path(surat_keluar), class: 'btn btn-sm btn-primary mx-1'
              %a
              = link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus surat keluar"></i>'.html_safe, surat_keluar, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'
  Surat Keluar Urusan Agama Katolik
  Surat Keluar Urusan Agama Kristen
  Surat Keluar Pendidikan Agama Katolik
  Surat Keluar Pendidikan Agama Kristen
  Surat Keluar Pendidikan dan Bimbingan Masyarakat Islam
  Surat Keluar Haji dan Umrah
- elsif @jabatan_pengguna.join == "PLT Kepala Kantor" or @jabatan_pengguna.join == "Kepala Kantor"
  Surat Keluar Tata Usaha
  Surat Keluar Urusan Agama Katolik
  Surat Keluar Urusan Agama Kristen
  Surat Keluar Pendidikan Agama Katolik
  Surat Keluar Pendidikan Agama Kristen
  Surat Keluar Pendidikan dan Bimbingan Masyarakat Islam
  Surat Keluar Haji dan Umrah
- else
  Anda tidak memiliki Jabatan dan Seksi?



.row.align-items-center.justify-content-center
  .row
    = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-arrow-left" title="Kembali ke Dasbor"></i></button>'.html_safe, dasbor_index_path, class: 'center-block'
    = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-plus" title="Buat surat keluar"></i></button>'.html_safe, new_surat_keluar_path, class: 'center-block add-left-margin'