= render 'elements/header'
%h1 Daftar Surat Keluar
%p seksi_pengguna
= @seksi_pengguna
%p ss
= @seksi_pengguna_id
%p surat_keluar_seksi
= @surat_keluar_seksi
%p Jabatan
= @jabatan_pengguna.join
- if @seksi_pengguna.join === "Tata Usaha"
  - if @jabatan_pengguna.join === "Pelaksana"
    %h2 Surat Keluar Belum Dikoreksi
    .p-5.text-center
      .card-deck
        - @surat_keluar_awal.each do |surat_keluar|
          .col-md-4
            .card.p-5.m-1
              .card-block
                %h4
                  %b= surat_keluar.judul
                %p= surat_keluar.keterangan
                %p
              .card-block
                %a
                = link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan surat keluar"></i>'.html_safe, surat_keluar, class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit surat keluar"></i>'.html_safe, edit_surat_keluar_path(surat_keluar), class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus surat keluar"></i>'.html_safe, surat_keluar, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'
    %h2 Status Sudah Dikoreksi KTU ke-1
    .p-5.text-center
      .card-deck
        - @surat_keluar_koreksi_1.each do |surat_keluar|
          .col-md-4
            .card.p-5.m-1
              .card-block
                %h4
                  %b= surat_keluar.judul
                %p= surat_keluar.keterangan
                %p
              .card-block
                %a
                = link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan surat keluar"></i>'.html_safe, surat_keluar, class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit surat keluar"></i>'.html_safe, edit_surat_keluar_path(surat_keluar), class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus surat keluar"></i>'.html_safe, surat_keluar, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'
    %h2 Status Sudah Dikoreksi KTU ke-1
    .p-5.text-center
      .card-deck
        - @surat_keluar_koreksi_2.each do |surat_keluar|
          .col-md-4
            .card.p-5.m-1
              .card-block
                %h4
                  %b= surat_keluar.judul
                %p= surat_keluar.keterangan
                %p
              .card-block
                %a
                = link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan surat keluar"></i>'.html_safe, surat_keluar, class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit surat keluar"></i>'.html_safe, edit_surat_keluar_path(surat_keluar), class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus surat keluar"></i>'.html_safe, surat_keluar, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'
  - elsif @jabatan_pengguna.join === "Kepala Sub Bagian"
    %h2 Konsep Surat Keluar
    .p-5.text-center
      .card-deck
        - @surat_keluar_konsep.each do |surat_keluar|
          .col-md-4
            .card.p-5.m-1
              .card-block
                %h4
                  %b= surat_keluar.judul
                %p= surat_keluar.keterangan
                %p
              .card-block
                %a
                = link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan surat keluar"></i>'.html_safe, surat_keluar, class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit surat keluar"></i>'.html_safe, edit_surat_keluar_path(surat_keluar), class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus surat keluar"></i>'.html_safe, surat_keluar, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'
    %h2 Status Sudah Direvisi ke-1
    .p-5.text-center
      .card-deck
        - @surat_keluar_revisi_1.each do |surat_keluar|
          .col-md-4
            .card.p-5.m-1
              .card-block
                %h4
                  %b= surat_keluar.judul
                %p= surat_keluar.keterangan
                %p
              .card-block
                %a
                = link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan surat keluar"></i>'.html_safe, surat_keluar, class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit surat keluar"></i>'.html_safe, edit_surat_keluar_path(surat_keluar), class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus surat keluar"></i>'.html_safe, surat_keluar, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'
    %h2 Status Sudah Direvisi ke-2
    .p-5.text-center
      .card-deck
        - @surat_keluar_revisi_2.each do |surat_keluar|
          .col-md-4
            .card.p-5.m-1
              .card-block
                %h4
                  %b= surat_keluar.judul
                %p= surat_keluar.keterangan
                %p
              .card-block
                %a
                = link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan surat keluar"></i>'.html_safe, surat_keluar, class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit surat keluar"></i>'.html_safe, edit_surat_keluar_path(surat_keluar), class: 'btn btn-sm btn-primary mx-1'
                %a
                = link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus surat keluar"></i>'.html_safe, surat_keluar, method: :delete, data: { confirm: 'Anda yakin ingin menghapus surat ini?' }, class: 'btn btn-sm btn-primary mx-1'                
  - else
    Maaf, Anda tidak memiliki hak akses
- else
  bukan Tata Usaha

.row.align-items-center.justify-content-center
  .row
    = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-arrow-left" title="Kembali ke Dasbor"></i></button>'.html_safe, dasbor_index_path, class: 'center-block'
    = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-plus" title="Buat surat keluar"></i></button>'.html_safe, new_surat_keluar_path, class: 'center-block add-left-margin'