= link_to(@surat_keluar.judul, @surat_keluar.url, target: "_blank")
%br
%small
  Submitted #{time_ago_in_words(@surat_keluar.created_at)} ago
%h3 Komentar
= form_for [@surat_keluar, Komentar.new] do |f|
  = f.text_area :isi, placeholder: "Tambahkan komentar"
  %br
  = f.submit "Tambah komentar"
%ul
  = render(partial: 'komentar/komentar', collection: @surat_keluar.komentar)