= render 'elements/header'
%p#notice= notice
.add-trbl-margin
  %p
    %b Judul:
    = @surat_keluar.judul
  %p
    %b Keterangan:
    = @surat_keluar.keterangan
  %p
    %b xx:
    = @surat_keluar.status_surat
    
    %p
    - if @status_surat_keluar.nil?
      = button_to "Kirim konsep surat", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Konsep'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Konsep"
      = button_to "Kirim koreksi ke-1", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Koreksi ke-1'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Koreksi ke-1"
      = button_to "Kirim revisi ke-1", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Revisi ke-1'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Revisi ke-1"
      = button_to "Kirim koreksi ke-2", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Koreksi ke-2'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Koreksi ke-2"
      = button_to "Kirim revisi ke-2", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Revisi ke-2'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Revisi ke-2"
      = button_to "Kirim koreksi ke-3", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Koreksi ke-3'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Koreksi ke-3"
      = button_to "Kirim revisi ke-3", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Revisi ke-3'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Revisi ke-3"
      = button_to "Kirim koreksi ke-4", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Koreksi ke-4'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Koreksi ke-4"
      = button_to "Kirim revisi ke-4", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Revisi ke-4'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Revisi ke-4"
      = button_to "Kirim koreksi ke-5", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Koreksi ke-5'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Koreksi ke-5"
      = button_to "Arsipkan surat", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Final'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Final"
      %i.fa.fa-lg.fa-archive

  %br
  = simple_form_for [@surat_keluar, Komentar.new] do |f|
    = f.input :isi, placeholder: "Tambahkan komentar", label: false
    = button_tag(type: 'submit', class: "btn btn-primary") do
      %i.fa.d-inline.fa-lg.fa-comment
      Tambah komentar
    %br
  %ul
    = render(partial: 'komentar/komentar', collection: @surat_keluar.komentar)    

  = link_to '<button class="btn btn-primary btn-circle btn-xl"><i class="fa fa-lg fa-pencil" title="Edit surat keluar"></i></button>'.html_safe, edit_surat_keluar_path(@surat_keluar), class: 'center-block'
  .row.align-items-center.justify-content-center
    .row
      = link_to '<button class="btn btn-primary btn-circle btn-xl"><i class="fa fa-lg fa-arrow-left" title="Kembali ke daftar surat keluar"></i></button>'.html_safe, surat_keluar_index_path, class: 'center-block'