= render 'elements/header'
%p#notice= notice
.add-trbl-margin
  %p
    %b Judul:
    = @surat_keluar.judul
  %p
    %b Keterangan:
    = @surat_keluar.keterangan
  %p
    %b xx:
    = @surat_keluar.status_surat
  %p
    %b Lampiran:
    = link_to '<button class="btn btn-primary btn-circle btn-m"><i class="fa fa-lg fa-cloud-download" title="Unduh lampiran"></i></button>'.html_safe, @surat_keluar.lampiran_dokumen.url, class: 'center-block'
    
    %p
    - if @status_surat_keluar.nil?
      = button_to "Kirim konsep surat", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Konsep'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Konsep"
      = button_to "Kirim koreksi ke-1", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Koreksi 1'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Koreksi 1"
      = button_to "Kirim revisi ke-1", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Revisi 1'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Revisi 1"
      = button_to "Kirim koreksi ke-2", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Koreksi 2'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Koreksi 2"
      = button_to "Kirim revisi ke-2", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Revisi 2'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Revisi 2"
      = button_to "Kirim koreksi ke-3", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Koreksi 3'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Koreksi 3"
      = button_to "Kirim revisi ke-3", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Revisi 3'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Revisi 3"
      = button_to "Kirim koreksi ke-4", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Koreksi 4'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Koreksi 4"
      = button_to "Kirim revisi ke-4", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Revisi 4'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Revisi 4"
      = button_to "Kirim koreksi ke-5", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Koreksi 5'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Koreksi 5"
      = button_to "Arsipkan surat", surat_keluar_path(@surat_keluar, surat_keluar: {status_surat: 'Fix'}),
        :class => "btn btn-primary", :method => :put
    - elsif @status_surat_keluar === "Fix"
      %i.fa.fa-lg.fa-archive

  %br
  = simple_form_for [@surat_keluar, Komentar.new] do |f|
    = f.input :isi, placeholder: "Tambahkan komentar", label: false
    = f.input :lampiran, label: false
    = button_tag(type: 'submit', class: "btn btn-primary") do
      %i.fa.d-inline.fa-lg.fa-comment
      Tambah komentar
    %br
  %ul
    = render(partial: 'komentar/komentar', collection: @surat_keluar.komentar)    

  = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-pencil" title="Edit surat keluar"></i></button>'.html_safe, edit_surat_keluar_path(@surat_keluar), class: 'center-block'
  .row.align-items-center.justify-content-center
    .row
      = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-arrow-left" title="Kembali ke daftar surat keluar"></i></button>'.html_safe, surat_keluar_index_path, class: 'center-block'