= render 'elements/header'
%h1 Daftar Pengguna

.py-5
  .row
    .col-md-12
      %table.table
        %thead
          %tr
            %th Pengguna
            %th
            %th
            %th
        
        %tbody
          - @pengguna.each do |pengguna|
            %tr
              %td= pengguna.nama
              %td= link_to '<i class="fa d-inline fa-lg fa-expand" title="Tampilkan pengguna"></i>'.html_safe, pengguna, class: 'btn btn-sm btn-primary mx-1'
              %td= link_to '<i class="fa d-inline fa-lg fa-pencil" title="Edit pengguna"></i>'.html_safe, edit_pengguna_path(pengguna), class: 'btn btn-sm btn-primary mx-1'
              %td= link_to '<i class="fa d-inline fa-lg fa-trash" title="Hapus pengguna"></i>'.html_safe, pengguna, method: :delete, data: { confirm: 'Anda yakin ingin menghapus pengguna ini?' }, class: 'btn btn-sm btn-primary mx-1'

.row.align-items-center.justify-content-center
  .row
    - if @status_akun_pengguna == "Administrator"
      = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-arrow-left" title="Kembali ke Dasbor"></i></button>'.html_safe, dasbor_index_path, class: 'center-block'
      = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-plus" title="Buat pengguna"></i></button>'.html_safe, new_pengguna_path, class: 'center-block add-left-margin'
    - else
      = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-arrow-left" title="Kembali ke Dasbor"></i></button>'.html_safe, dasbor_index_path, class: 'center-block'