= render 'elements/header'
%p#notice= notice

= simple_form_for(@pengguna, html: { class: 'form-horizontal add-left-margin' }, defaults: { wrapper_html: { class: 'col-md-4 mb-2' } } ) do |f|
  .row
    = f.input :nama, label: 'Nama', disabled: true
  .row
    = f.association :status_kepegawaian, label_method: :status_kepegawaian, value_method: :id, include_blank: false, disabled: true
  .row
    = f.association :jabatan, label_method: :nama, value_method: :id, disabled: true, include_blank: false
  .row
    = f.association :seksi, label_method: :nama, value_method: :id, disabled: true, include_blank: false
  .row
    = f.association :status_akun, label_method: :keterangan, value_method: :id, disabled: true, include_blank: false

  = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-pencil" title="Edit status kepegawaian"></i></button>'.html_safe, edit_pengguna_path(@pengguna), class: 'center-block'
  .row.align-items-center.justify-content-center
    .row
      = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-arrow-left" title="Kembali ke daftar status kepegawaian"></i></button>'.html_safe, pengguna_index_path, class: 'center-block'