%h1 Listing surat_masuk

%table
  %thead
    %tr
      %th Nomor surat
      %th Tanggal surat
      %th Lampiran
      %th Diterima tgl
      %th No agenda
      %th Status
      %th Sifat
      %th Derajat
      %th Pengaman
      %th Dari
      %th Perihal
      %th
      %th
      %th

  %tbody
    - @surat_masuk.each do |surat_masuk|
      %tr
        %td= surat_masuk.nomor_surat
        %td= surat_masuk.tanggal_surat
        %td= surat_masuk.lampiran
        %td= surat_masuk.diterima_tgl
        %td= surat_masuk.no_agenda
        %td= surat_masuk.status
        %td= surat_masuk.sifat
        %td= surat_masuk.derajat
        %td= surat_masuk.pengaman
        %td= surat_masuk.dari
        %td= surat_masuk.perihal
        %td= link_to 'Show', surat_masuk
        %td= link_to 'Edit', edit_surat_masuk_path(surat_masuk)
        %td= link_to 'Destroy', surat_masuk, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Surat masuk', new_surat_masuk_path
