= render 'elements/header'
%p#notice= notice
= simple_form_for(@surat_masuk, html: { class: 'form-horizontal add-left-margin' }, defaults: { wrapper_html: { class: 'col-md-4 mb-2' } } ) do |f|
  .row
    = f.input :nomor_surat, label: 'Nomor surat', disabled: true
  .row
    = f.input :tanggal_surat, as: :date, label: 'Tanggal surat', disabled: true
  .row
    = f.input :lampiran, label: 'Lampiran', disabled: true
  .row
    = f.input :diterima_tgl, label: 'Diterima tgl', disabled: true
  .row
    = f.input :no_agenda, label: 'No. agenda', disabled: true
  .row
    = f.association :status_surat_masuk, label_method: :nama, value_method: :id, disabled: true, include_blank: false
  .row
    = f.input :dari, label: 'Dari', disabled: true
  .row
    = f.input :perihal, label: 'Perihal', disabled: true

  = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-pencil" title="Edit surat masuk"></i></button>'.html_safe, edit_surat_masuk_path(@surat_masuk), class: 'center-block'
  .row.align-items-center.justify-content-center
    .row
      = link_to '<button class="btn btn-primary btn-circle btn-lg"><i class="fa fa-lg fa-arrow-left" title="Kembali ke daftar surat masuk"></i></button>'.html_safe, surat_masuk_index_path, class: 'center-block'